html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
}

body {
  position: relative;
  padding-top: 80px; // Pour le header fixe
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-primary;
  line-height: 1.6;
  color: $primary-color;
  background-color: $secondary-color;

  &.no-scroll {
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

main {
  flex: 1;
}
